@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif; }

main {
  min-height: 100vh; }

.sectionContainer {
  min-height: 80vh;
  padding: 15vmin 20px; }

.parallax-container {
  height: 380px; }

.parallax h2 {
  position: relative;
  text-align: center;
  top: 30%;
  color: white;
  font-size: 5em; }

.nav-fixed {
  z-index: 1000;
  position: fixed;
  width: 100%; }
  .nav-fixed nav {
    background-color: #191919; }

.slider {
  height: 95vh !important;
  padding-bottom: 10px;
  z-index: 44; }
  .slider .indicators {
    bottom: 13px;
    z-index: 45; }
  .slider .slides {
    height: 98vh !important; }

.controlSlide {
  top: -35vh;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px; }
  .controlSlide div {
    text-align: center;
    padding: 12px; }

.slider .slides li .caption {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  .slider .slides li .caption .contentCaption {
    margin-top: 40vh;
    margin-left: 40px; }

.page-footer {
  background-color: #191919;
  margin-top: -50px; }

.btn-homepage {
  background-color: rgba(76, 175, 80, 0.8);
  color: white; }
  .btn-homepage:hover {
    background-color: rgba(76, 175, 80, 0.7); }
  .btn-homepage:active {
    background-color: rgba(76, 175, 80, 0.7); }

.storyUs {
  margin-top: -20px;
  padding-left: 25px; }
  .storyUs h2 {
    color: #4CAF50; }
  .storyUs span {
    color: #4CAF50;
    font-size: 25px;
    letter-spacing: -3px;
    margin-right: 10px; }
  .storyUs li {
    margin: 0 0 40px 10px; }

.headerCard {
  height: 40vh;
  background-color: #4CAF50;
  background-image: url("../imgs/images.jpeg");
  background-size: cover;
  background-position: center; }
  .headerCard .title {
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translatey(-50%);
    color: #cfd8dc; }

.container-Cards {
  padding: 50px 0; }

.verticalNav-Cards {
  top: 70px;
  position: -webkit-sticky;
  position: sticky;
  background-color: white; }
  .verticalNav-Cards .logoNav {
    margin-bottom: 20px; }
    .verticalNav-Cards .logoNav:hover {
      border-bottom: 1px solid lightgrey;
      cursor: pointer; }
      .verticalNav-Cards .logoNav:hover span {
        color: grey; }
    .verticalNav-Cards .logoNav img {
      width: 40px; }
    .verticalNav-Cards .logoNav span {
      position: relative;
      top: -11px;
      left: 30px;
      color: black; }

.content-Cards {
  margin-top: -60px; }
  .content-Cards section {
    padding-top: 50px; }
  .content-Cards .title {
    color: #4CAF50; }

section ul {
  margin: 20px; }

#map {
  width: 100%;
  height: 57vh; }

.containerMap {
  background-color: #313336; }

.ourHours {
  height: 14vh;
  margin-bottom: -80px;
  display: block; }
  .ourHours .contact, .ourHours .localisation {
    padding: 22px 0 43px 0;
    margin-bottom: 0;
    color: lightgrey;
    font-size: 1.1em; }

.ourCGV h3 {
  margin-top: 100px; }
.ourCGV p {
  font-size: 1.2em; }

/*# sourceMappingURL=main.css.map */
