@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif; }

main {
  min-height: 100vh; }

.sectionContainer {
  min-height: 80vh;
  padding: 15vmin 20px; }

.parallax-container {
  height: 380px; }

.parallax h2 {
  position: relative;
  text-align: center;
  top: 30%;
  color: white;
  font-size: 5em; }

@media all and (max-width: 640px) {
  .verticalNav-Cards {
    top: 50px !important;
    margin-top: -50px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.6) !important; }
    .verticalNav-Cards .logoNav img {
      width: 20px !important;
      margin-top: 10px !important; }
    .verticalNav-Cards .logoNav span {
      top: 0 !important;
      left: 10px !important; } }
@media all and (max-width: 350px) {
  .verticalNav-Cards .logoNav span {
    display: none; } }
.linkNav {
  font-weight: bold;
  color: white; }

.linkNavSide {
  color: #252f3d; }
  .linkNavSide:hover {
    color: #191919; }

.enterIn {
  background-color: #252f3d;
  color: white; }
  .enterIn:hover {
    background-color: rgba(37, 47, 61, 0.9);
    color: #191919; }
  .enterIn:active {
    background-color: #252f3d; }

.brand-logo {
  margin-top: 5px; }

.notifications {
  min-width: 250px;
  margin-top: 60px; }

.linkTopColor {
  color: white;
  font-weight: bold;
  transition: all 0.3s ease; }

.linkFixedColor {
  color: #252f3d;
  transition: all 0.3s ease; }
  .linkFixedColor .linkFixedColor:hover {
    color: deepskyblue; }

#sidenav-overlay {
  z-index: 990; }

.navbarTop {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 5000;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  min-height: 100px;
  position: relative; }
  .navbarTop .button-collapse {
    color: white; }

.navbarFixed {
  background-color: #191919;
  box-shadow: 2px 1px 5px rgba(25, 25, 25, 0.7);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out; }
  .navbarFixed .button-collapse {
    color: #cfd8dc; }

.imgMenu {
  display: flex; }
  .imgMenu span {
    margin-top: 1px;
    margin-left: 5px; }
  .imgMenu img {
    margin-top: 16px;
    height: 35px;
    border: 1px solid #191919; }

nav {
  background-color: inherit;
  box-shadow: none; }

.slider {
  height: 95vh !important;
  padding-bottom: 10px;
  z-index: 44;
  top: -65px; }
  .slider .indicators {
    bottom: 13px;
    z-index: 45; }
  .slider .slides {
    height: 98vh !important; }

.controlSlide {
  top: -35vh;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px; }
  .controlSlide div {
    text-align: center;
    padding: 12px; }

.slider .slides li .caption {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  .slider .slides li .caption .contentCaption {
    margin-top: 40vh;
    margin-left: 40px; }

.page-footer {
  background-color: #191919;
  margin-top: -50px; }

.btn-homepage {
  background-color: rgba(76, 175, 80, 0.8);
  color: white; }
  .btn-homepage:hover {
    background-color: rgba(76, 175, 80, 0.7); }
  .btn-homepage:active {
    background-color: rgba(76, 175, 80, 0.7); }

.storyUs {
  margin-top: -20px;
  padding-left: 25px; }
  .storyUs h2 {
    color: #4CAF50; }
  .storyUs span {
    color: #4CAF50;
    font-size: 25px;
    letter-spacing: -3px;
    margin-right: 10px; }
  .storyUs li {
    margin: 0 0 40px 10px; }

.headerCard {
  height: 45vh;
  margin-top: -100px;
  background-color: #4CAF50;
  background-image: url("../imgs/carte.png");
  background-size: cover;
  background-position: center; }
  .headerCard .bigTitle {
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translatey(-50%);
    color: black; }

.container-Cards {
  padding: 50px 0; }

.verticalNav-Cards {
  top: 70px;
  position: -webkit-sticky;
  position: sticky;
  background-color: white; }
  .verticalNav-Cards .logoNav {
    margin-bottom: 20px; }
    .verticalNav-Cards .logoNav:hover {
      border-bottom: 1px solid lightgrey;
      cursor: pointer; }
      .verticalNav-Cards .logoNav:hover span {
        color: grey; }
    .verticalNav-Cards .logoNav img {
      width: 40px; }
    .verticalNav-Cards .logoNav span {
      position: relative;
      top: -11px;
      left: 30px;
      color: black; }

.content-Cards {
  margin-top: -60px; }
  .content-Cards section {
    padding-top: 50px; }
  .content-Cards .title {
    color: #4CAF50; }

section ul {
  margin: 20px; }

.floatForm {
  position: fixed;
  background-color: #fff;
  width: 400px;
  height: 550px;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  bottom: 80px;
  right: 30px;
  z-index: 995; }
  .floatForm .introForm {
    background-color: #191919;
    top: 0;
    height: 53%;
    margin: 0 0 1px 0;
    padding-top: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; }
    .floatForm .introForm h5, .floatForm .introForm span {
      color: #cfd8dc; }

.hide {
  display: none; }

#map {
  width: 101%;
  height: 54vh; }

.containFindUs {
  margin-bottom: 1px;
  min-height: 60vh;
  padding-bottom: 1px;
  background-color: lightgrey;
  overflow: hidden; }

.ourHours {
  height: 14vh;
  margin-bottom: -80px;
  display: block; }
  .ourHours .contact, .ourHours .localisation {
    padding: 22px 0 43px 0;
    margin-bottom: 0;
    color: lightgrey;
    font-size: 1.1em; }

.containerImg {
  height: 60vh; }
  .containerImg img {
    width: 103%;
    height: 54vh;
    margin: 0 -10px 0 -5px; }

.ourCGV h3 {
  margin-top: 100px; }
.ourCGV p {
  font-size: 1.2em; }

/*# sourceMappingURL=main.css.map */
