<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h5 class="white-text">Footer Content</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Acceuil</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Carte</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Ou sommes nous</a></li>
                <li></li>
            </ul>
        </div>
        <div class="col l4 s12">
            <h5 class="white-text">Informations</h5>
            <ul>
                <li class="grey-text text-lighten-3"><i class="fa fa-clock-o"></i>  Ouvert tous les jours de 16h à 22h30</li>
                <li class="grey-text text-lighten-3"><i class="fa fa-phone-square"></i> 06 00 00 00 00</li>
                <li class="grey-text text-lighten-3"><i class="fa fa-envelope-square"></i> contact@latourdepizz.co</li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2017 Copyright LaTourDePizz - <a class="grey-text text-lighten-3" href="{{ path('CGV') }}">Mentions Légales</a>
        <a class="grey-text text-lighten-4 right" href="https://github.com/Banb4n"><img src="{{ asset('assets/imgs/logoPerso2.png') }}" alt="Créer par Banb4n"></a>
    </div>
</div>