{% extends 'base.html.twig' %}

{% block content %}
    <header>
        <h1>Bienvenue sur le site de LaTourDePizz</h1>
    </header>
    <main>
        <section id="whoAreUs">

        </section>
        <section id="ourCards">

        </section>
        <section id="findUs">

        </section>
    </main>
{% endblock %}