#map {
  width: 101%;
  height: 54vh;
}
.containFindUs {
  margin-bottom: 1px;
  min-height: 60vh;
  padding-bottom: 1px;
  background-color: lightgrey;
  overflow: hidden;
}

.ourHours {
  height: 14vh;
  margin-bottom: -80px;
  display: block;
  .contact, .localisation {
    padding: 22px 0 43px 0;
    margin-bottom: 0;
    color: lightgrey;
    font-size: 1.1em;
  }
}

.containerImg {
  height: 60vh;
  img {
    width: 103%;
    height: 54vh;
    margin: 0 -10px 0 -5px;
  }
}
